/missing
/Makefile.in
/ltmain.sh
/install-sh
/Makefile
/GrNbFmRx
/depcomp
/autom4te.cache
/configure
/compile
/.deps/
/.libs/
/m4/
/libtool
/acinclude.m4
/aclocal.m4
/config.guess
/config.log
/config.status
/config.sub
*.la
*.lo
*.o
*.so

